<div class="pageContainer">
  <div class="container">
    <div class="wrapper">
      <h1>About Us</h1>
      <hr>
      <br>
      <img src="../../assets/daveCorbin.jpg" alt="">
      <h2>THANK YOU for your interest in bullet swaging!</h2>
      <p>If you would like detailed information -- a complete course in the art of bullet swaging -- order the multi-media library of swaging. With over 30 years of hard-earned knowledge condensed into books, CD-ROMS, and a DVD, you'll have an expert's knowledge of bullet design, swaging, testing and marketing custom bullets.</p>
      <p>If you only want a quick study of swaging, just to find out if it would be worth your while to look any further, get the Corbin Handbook of Bullet Swaging, No. 9, e-book on CD-ROM, which is included in the multi-media package. The Corbin Handbook gives you an overview of swaging, tips and techniques for making many kinds of bullets from black powder paper patch to rebated boattail ultra-low drag machine gun projectiles, airgun pellets to shot-filled fragmenters, jacketed, lead, solid copper...all kinds of bullets you've heard about and others no on outside of the R&D at Corbin has every heard about!</p>
      <p>A whole section is devoted to secrets of the industry, most of which have never been previously aired in public, but which may shed a great deal of light on subjects that will keep you from spending unnecessary money to support myths and fictions about some of the components and tools handloaders frequently buy.</p>
      <p>Since precision is an inherent part of bullet swaging, a chapter is devoted to explaining a major myth about measuring instruments,including digital mikes, and the practical limits of precision (what matters, what doesn't, and why instrument makers are misleading general public buyers by implying far more than you get in many kinds of measuring tools). Experiments with the bullet weight variations, and how much really matters, as well as the source of variations and how the cause is more important in some cases than the variation itself, is spelled out. You can use this information even if you never swage a bullet: It will affect your purchases and your thinking...for the better!</p>
      <br>
    </div>
  </div>
</div>
