<div class="pageContainer">
  <div class="card">
    <div class="cardInfo">
      <img src="assets\rfjm22rs.jpg" alt="" />
      <div class="cardMatrix">
        <h1>{{ jacketMaker.name }}</h1>
        <h2>Code: {{ jacketMaker.code }}</h2>
        <h3>Price: {{ jacketMaker.price | currency }}</h3>
        <h4>Quantity: {{ jacketMaker.quantity }}</h4>
      </div>
    </div>
    <div class="buttons">
      <button class="btnAdd">Add To Card</button>
      <button class="btnBuy">Buy Now</button>
    </div>
  </div>
</div>
