<div class="pageContainer">
  <div class="container">
    <div class="wrapper">
      <h1>Contact Us</h1>
      <hr>
      <br>
      <h2>Corbin Manufacturing & Supply Inc.</h2>
      <p>PO Box 2659</p>
      <p>600 Industrial Circle</p>
      <p>White City, OR 97503 USA</p>
      <br>
      <h3>Email:</h3>
      <a href="mailto:sales@Corbins.com"><p>Sales@Corbins.com</p></a>
      <a href="mailto:dave@Swage.com"><p>Dave@Swage.com</p></a>
      <br>
      <h3>Phone:</h3>
      <p>(541) 826-5211</p>
      <br>
      <h3>Fax:</h3>
      <p>(541) 826-8669</p>
      <a href="tel:541-826-5211"><img src="../../assets/phone.png" alt=""></a>
      <a href="mailto:Sales@Corbins.com"><img src="../../assets/email.png" alt=""></a>
    </div>
  </div>
</div>
